header {
    background-color: #5352ed;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
}

nav p {
    padding-right: 1rem;
}


